<!-- wp:template-part {"slug":"header","theme":"titan-event-management","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"wp-block-group","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"right":"0","left":"0","top":"0","bottom":"0"}}}} -->
<main id="primary" class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:pattern {"slug":"titan-event-management/banner"} /--></main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"titan-event-management/about-section"} /-->

<!-- wp:pattern {"slug":"titan-event-management/blogs"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->